<%- include(consV.layouts.head , {also_add:[consV.css.panel.main, consV.css.panel.sidebar,
consV.css.questionmark, consV.css.tagInput,consV.css.tagInputCustom, consV.css.mmodal]})%>
<body>
	<%- include( consV.layouts.nodeJsObToClientJsOb , {varName: "altPage" , varValue: altPage })%>
	
	<%- include( consV.layouts.nodeJsObToClientJsOb , {varName: "lang" , varValue: lang })%>
	
	<%- include( consV.layouts.panel.navbar )%>
   <%- include( consV.layouts.mmodal ) %>

	<div class="container-fluid">
		<div class="row">
			<%- include(consV.layouts.panel.sidebar , {active:["enc" , "cre"]})%>
			<!-- main -->
			<main class="col-md-9 px-4 rtlDir FontIranSans text_good_black_little">
				<form id="createForm" method="post" action="<%='/' + lang + consV.pages.panel.article.createArt%>"
				onsubmit="CreateArt(event);">
					<div class="form-group">
						<label class="Font18px" for="artPageName">
							نام مقاله
						</label>
						<input id="artPageName" name="artPageName" class="form-control" type="text">
					</div>
					<div class="form-group">
						</select>
						<label class="Font18px mr-3" for="artPageLang">
							زبان مقاله
						</label>
						<input id="artPageLang" name="artPageLang" class="form-control" type="text">
					</div>
					<button id="CreEditArtSubmit" type="submit" class="btn btn-primary col-md-3">افزودن</button>
				</form>

			</main>
			<!-- main end -->
		</div>
	</div>

	<%- include(consV.layouts.footer)%>
	<!-- scripts -->
	<%- include(consV.layouts.scripts , {also_add:[consV.js.panel.sidebar,
	consV.js.tagInput, consV.js.tagInputCustom,
	consV.js.tinymce, consV.js.tinymceJquery, consV.js.tinymceInit,
	consV.js.panel.main, consV.js.panel.article.main, consV.js.mmodal, consV.js.sign, consV.js.panel.article.createArt,
	consV.js.panel.article.CreEditArtForm]})%>
	<script>
	</script>
	<!-- scripts end -->
</body>
</html>
