<%- include(consV.layouts.head , {also_add:[consV.css.panel.main, consV.css.panel.sidebar, consV.css.mmodal,
consV.css.panel.EncTree]})%>
<body>
	<%- include( consV.layouts.nodeJsObToClientJsOb , {varName: "altPage" , varValue: altPage })%>
	
	<%- include( consV.layouts.nodeJsObToClientJsOb , {varName: "lang" , varValue: lang })%>
	<%- include( consV.layouts.nodeJsObToClientJsOb , {varName: "nonArts" , varValue: null })%>
	
	<%- include( consV.layouts.panel.navbar )%>
   <%- include( consV.layouts.mmodal ) %>

	<div class="container-fluid">
		<div class="row">
			<%- include(consV.layouts.panel.sidebar , {active:["adm" , "nonArtTel"]})%>
			<!-- main -->
			<main class="col-md-9 px-4 rtlDir FontIranSans text_good_black_little">
				<ul class="nav nav-tabs nav-fill initDir" role="tablist">
					<li class="nav-item">
						<a class="nav-link disabled" data-toggle="tab" role="tab" href="#addNonArt">اضافه کردن</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" role="tab" href="#nonArtsList">لیست</a>
					</li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane mt-5 fade show" id="nonArtsList" role="tabpanel">
							<label class="Font18px" for="nonArtsListLang">
								زبان نمایش
							</label>
							<select id="nonArtsListLang" name="nonArtsListLang" class="custom-select FontIranSans mr-2"
							onchange="createNonArtsTelList();">
								<%consV.site.langs.inArray.forEach( (el , i) =>
								{%>
									<option value="<%=el%>" <%if(i == 0){%>selected<%}%> ><%=i18n.__(consV.site.langs[el].name)%></option>
								<%});%>
							</select>
							<div id="nonArtsListDiv" class="mt-4" onclick="nonArtsLisClicked(event)">
							
							</div>
							<div class="d-flex flex-row justify-content-around">
								<button type="button" class="btn btn-danger col-md-3 mt-3 cursorPointer"
								onclick="nonArtTelDel( nonArts.list[$('#nonArtsListDiv .active #nodId').html()] ,function (){setTimeout(function (){window.location.href = '';},1500);} );">
									حذف
								</button>
							</div>
						</div>
					<div class="tab-pane mt-5 fade" id="addNonArt" role="tabpanel">
						<%- include(consV.layouts.panel.chooseNodeTree , {})%>
						<div class="d-flex flex-row justify-content-around">
							<button type="button" class="btn btn-primary col-md-3 mt-3 cursorPointer"
								onclick="nonArtTelAdd( getChosenNodeId() ,function (){setTimeout(function (){window.location.href = '';},1500);} );">
								اضافه کردن
							</button>
						</div>
					</div>
				</div>
				
			</main>
			<!-- main end -->
		</div>
	</div>

	<%- include(consV.layouts.footer)%>
	<!-- scripts -->
	<%- include(consV.layouts.scripts , {also_add:[consV.js.panel.sidebar,
	consV.js.panel.main, consV.js.panel.article.main, consV.js.panel.EncTree,
	consV.js.panel.adminStuff.nonArtTel, consV.js.mmodal, consV.js.sign, consV.js.panel.chooseNodeTree]})%>
	<!-- scripts end -->
</body>
</html>
