<%- include(consV.layouts.head , {also_add:[consV.css.panel.main,
consV.css.panel.sidebar, consV.css.questionmark, consV.css.mmodal]})%>
<body>
	<%- include( consV.layouts.nodeJsObToClientJsOb , {varName: "resItem" , varValue: null })%>
	<%- include( consV.layouts.nodeJsObToClientJsOb , {varName: "altPage" , varValue: altPage })%>
		
	<%- include( consV.layouts.nodeJsObToClientJsOb , {varName: "lang" , varValue: lang })%>

	<%- include( consV.layouts.panel.navbar )%>
   <%- include( consV.layouts.mmodal ) %>

	<div class="container-fluid">
		<div class="row">
			<%- include(consV.layouts.panel.sidebar , {active:["adm" , "RTUsers"]})%>
			<!-- main -->
			<main class="col-md-9 px-4 rtlDir FontIranSans text_good_black_little">
				<ul class="nav nav-tabs nav-fill initDir" role="tablist">
					<li class="nav-item">
						<a class="nav-link disabled" data-toggle="tab" role="tab" href="#edit">ویرایش</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" role="tab" href="#chooseResTab">انتخاب منبع</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane mt-5 fade" id="edit" role="tabpanel">
						<%- include(consV.layouts.panel.addEditResForm,
						{
							langOnchange: "setAddEditResFromData(resItem);",
							formSubmitText: "ثبت منبع",
							formOnSubmit: "CreateEditRes( event, function (res){resItem = res;} );"
						}) %>
					</div>
					<div class="tab-pane mt-5 fade" id="chooseResTab" role="tabpanel">
						<%- include(consV.layouts.allResources,
						{
							resES: resES,
							trOnclick: 'chooseResource(event);'
						}) %>
					</div>
				</div>
			</main>
			<!-- main end -->
		</div>
	</div>

	<%- include(consV.layouts.footer)%>
	<!-- scripts -->
	<%- include(consV.layouts.scripts , {also_add:[consV.js.panel.sidebar,
	consV.js.panel.main, consV.js.panel.adminStuff.main,
	consV.js.mmodal, consV.js.sign, consV.js.panel.adminStuff.resTrusUsers]})%>
	<!-- scripts end -->
</body>
</html>
